asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
crochet==1.6.0
cryptography==1.9
Django==1.10.5
enum34==1.1.6
gunicorn==19.6.0
idna==2.5
imaplib2==2.45.0
incremental==16.10.1
ipaddress==1.0.18
nexmo==1.5.0
pyasn1==0.1.9
pycparser==2.17
PyJWT==1.5.0
requests==2.18.1
setproctitle==1.1.10
six==1.10.0
Twisted==16.6.0
urllib3==1.21.1
zope.interface==4.3.3
